.header {
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px dashed #ABB2B9;
    font-family: 'Cinzel', serif;
    color: #ABB2B9;
}

.arial {
    font-family: Arial;
    font-size: 13px;
}

.nav-bar {
    margin-top: -40px;
}

#headerSubmit {
    font-style: oblique;
}

h1 {
   letter-spacing: 5px;
   font-size: 50px;
   color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #ABB2B9;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
