<div class="row header">
  <div class="col-md-7">
      <h1>{{title}}</h1>

      <ul class="nav headerList">
        <span class="arial">browse by:</span>
        <li class="nav-item">
          <a class="nav-link" href="#">Date</a>
        </li>
        <li>|</li>
        <li class="nav-item">
          <a class="nav-link" href="#">Category</a>
        </li>
        <li>|</li>
        <li class="nav-item">
          <a class="nav-link" href="#">Popularity</a>
        </li>
        <li>|</li>
        <li class="nav-item">
          <a class="nav-link" href="#">Random</a>
        </li>
      </ul>
  </div>
  <div class="col-md-5">
      <p id="headerSubmit"><span class="arial smallText">want to <a href="">SUBMIT</a> something delicious?<a href=""> LOGIN</a> or <a href="">REGISTER</a> first</span></p>

      <form>
        <input type="text" name="search" maxlength="30" placeholder="search">
        <button type="submit">
            <i class="fa fa-play-circle-o fa-lg" style="color:#ABB2B9;" aria-hidden="true"></i>
        </button>
      </form> 
  </div>

    
</div>

