<div class="row header">
    <h1>{{title}}</h1>

    <div class="nav-bar">
      <span class="arial">browse by:</span>
        <a class="nav-link" href="#">Date</a> |
        <a class="nav-link" href="#">Category</a> |
        <a class="nav-link" href="#">Popularity</a> |
        <a class="nav-link" href="#">Random</a>
    </div>

    <p id="headerSubmit"><span class="arial">want to <a href="">SUBMIT</a> something delicious?</span></p>
    <form>
      <input type="text" name="search" maxlength="30" placeholder="search">
      <button type="submit"><img src="~/.././img/play-button.png"></button>
    </form>
    
</div>

