#headerSubmit {
    font-style: oblique;
    text-align-last: right;
}

.header {
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Cinzel', serif;
    color: #ABB2B9;

    border-bottom: 1px dashed #ABB2B9;
}

.arial {
    font-family: Arial;
    font-size: 13px;
}


.nav-bar {
    margin-top: -40px;
    margin-bottom: 50px;
}

.smallText {
    font-size: 10px;
    margin-right: -30px;
}

h1 {
   letter-spacing: 5px;
   font-size: 35px;
   color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #ABB2B9;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

button {
    background-color: transparent;
    border-color: transparent;
}

form {
    text-align-last: right;
}

hr {
    border: 5px dashed red;
    margin-top: -35px;
}
