<div class="footer">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">home</a>
    </li>
    <li>|</li>
    <li class="nav-item">
      <a class="nav-link" href="#">about</a>
    </li>
    <li>|</li>
    <li class="nav-item">
      <a class="nav-link" href="#">contact</a>
    </li>
    <li>|</li>
    <li class="nav-item">
      <a class="nav-link" href="#">faqs</a>
    <li>|</li>
    <li class="nav-item">
      <a class="nav-link" href="#">submission guidelines</a>
    </li>
    <li>|</li>
    <li class="nav-item">
      <a class="nav-link" href="#">goodies</a>
    </li>
    <li>|</li>
    <li class="nav-item">
      <a class="nav-link" href="#">terms of use</a>
    </li>
  </ul>
</div>