<div class="topNavBar">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">TasteSpotting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">The Delicious Life</a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</div>

