.topNavBar {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -7px;
    margin-bottom: -7px;
    font-size: 12px;
    font-family: Arial, "MS Trebuchet", sans-serif;  
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}