#siteURL {
    font-size: 10px;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    width: 295px;
    height: 375px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.card-text {
    margin-left: -11px;
    font-size: 12px;
}

.page-link {
    border: transparent;
    font-size: 12px;
}

.pagination a {
    color: black;
    float: left;
    padding: 50px 0px 0px 3px;
    text-decoration: none;
}

img {
    height: 270px;
    width: 270px;
    padding-top: 15px;
}
