<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">Some text inside the first card</p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">2nd</p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">3rd</p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">4th</p>
            </div>
          </div>
    </div>

  </div>    
</div>