<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" *ngFor="let panel of panels | async">
        <div class="card">
          <p><span id="siteURL">{{panel.siteURL}}</span></p>
          <img class="card-img-top mx-auto" src="{{panel.src}}" alt="panel.alt">
          <div class="card-body text-left">
            <p class="card-text">{{panel.description}}}</p>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <ul class="pagination pagination-sm mx-auto">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
  </div>
</div>