#siteURL {
    font-size: 10px;
}

.card {
    margin-top: 4%;
    margin-bottom: 4%;
    max-width: 275px;
    max-height: 355px;
}

.card-text {
    margin-left: -11px;
    font-size: 12px;
}

.page-link {
    border: transparent;
    font-size: 12px;
}

.pagination a {
    color: black;
    float: left;
    padding: 50px 0px 0px 3px;
    text-decoration: none;
}

img {
    height: 250px;
    width: 250px;
    padding-top: 15px;
}
