<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
        <div class="card">
          <p><span id="siteURL">test</span></p>
          <img class="card-img-top mx-auto" src="{{panels[0].src}}" alt="buttery cookie">
          <div class="card-body text-left">
            <p class="card-text">Some text inside the first card</p>

          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">2nd</p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">3rd</p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <p class="card-text">4th</p>
            </div>
          </div>
    </div>
  </div>

  <div class="row">
    <ul class="pagination pagination-sm mx-auto">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
  </div>
</div>